# localhost|goerli|sepolia|mainnet
NEXT_PUBLIC_CHAIN=localhost

# https://discord.com/api/webhooks/...
NEXT_PUBLIC_DISCORD_WEBHOOK_CONTRIBUTIONS=

# https://discord.com/api/webhooks/...
NEXT_PUBLIC_DISCORD_WEBHOOK_PRIORITIES=

# https://discord.com/api/webhooks/...
NEXT_PUBLIC_DISCORD_WEBHOOK_DAOS=
